//搜尋 input 設計
.search{
    width: 100%;
    height: 2.5rem;
    border: 0.5px $secondtopicColor solid;
    border-radius: 10px;
    color: $secondtopicColor;
    font-size: 0.6rem;
    text-align: center;
    @include pad{
        padding-left: 1rem;
        width: 8rem;
    }
    &::placeholder{
        color: rgba(0, 243, 255, 0.5)
    }
}   

//相對定位
.relative{
    position: relative;
}

//搜尋圖案定位
.search-position{
    display: none !important;
    @include pad{
        display: inline !important;
        position: absolute;
        top: 2.2rem;
        left: 6.5rem
    }
}

//消除 ul 預設樣式
.list-style-type-none{
    list-style-type:none
}

//左邊sidebar漢堡選單
.library{
    max-height: 0;
    overflow: hidden;
    padding-left: 0;
    transition: max-height 1.5s;
    @include pad{
        max-height: 100%;
        text-align: left;
        padding-left: 40px;
    }
}
.library-active{
    max-height: 170px; 
}

.discover{
    max-height: 0;
    overflow: hidden;
    padding-left: 0;
    transition: max-height 1.5s;
    @include pad{
        max-height: 100%;
        text-align: left;
        padding-left: 40px;
    }
}

.discover-active{
    max-height: 170px; 
}


//左邊sidebar漢堡選單按鈕
.RWDbtn{
    &:active{
        color: blue
    }
}


//專輯圖案背景
.bg-album{
    background: url('../img/Image\ 8.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.album-title{
    box-sizing: border-box !important;
    margin-top: 5rem;
    @include pad{
        margin-top: 8rem;
        margin-right: 2rem;
        padding: 0 0;
    }
}

//跟隨者設計
.follower{
    color: rgba($color: white, $alpha: 0.5)
}

.follow-skin{
    border-radius: 10px !important;
    width: 7rem !important;
    height: 2rem !important;
    line-height: 1rem;
    font-size: 1rem;
}

//音樂列表設計
.music-list{
    background-color: rgba($color: black, $alpha: 0.7);
}

//top music 設計
.top-music{
    margin-left: 2rem;
    padding-top: 2rem;
}

//hover 效果
.pointer{
    &:hover{
        cursor: pointer;
    }
}

// 訂閱鈴鐺
.bell{
    height: 3rem;
    width: 3rem;
}

// 加入音樂icon
.plusicon{
    border: 2px solid $secondtopicColor;
    border-radius: 50%;
    &:hover{
        background-color: gray
    }
}
//喜愛清單
.loveList{
    margin-top: 15rem;
}

//音樂播放條
.musicBar{
    background: #21292F;
    height: 60px;
}

//音樂進度條
.progressBar{
    background-color: rgba($color: $secondtopicColor, $alpha: 0.5);
    height:2px;
}

// .progressBar::after{
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     background-color: $secondtopicColor;
//     width: 500px;
//     height: 2px;
// }
.progressBar-filled{
    position: absolute;
    top: 0;
    left: 0;
    background-color: $secondtopicColor;
    height: 2px;
}